/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

p {
  margin-bottom: 0px;
}

.notice-group {
  margin-bottom: 20px;
}

.notice {
  color:red;

}

.red_box {
  color:red;
  padding: 0.2em 0.2em;
  font-weight: bold;
  border: solid 3px ewd;

}

.red-group {
  margin-bottom: 10px;
}

.post {
  margin-top: 20px;
}


/* ユーザー勤怠情報テーブル */ 

#table-attendances {

  margin-top:10px;

  th {
    vertical-align: bottom;
    text-align: center;
    margin-top: 20px;

  }
  td {
    vertical-align: middle;
    text-align: center;
  }
  // class="line"の行の奇数列に色をつける
  .line tr:nth-child(odd) td{
    background: #f8f8f8;
  }

  
}